@use "../../styles/colors.scss";

.cameras-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .bigVideo {
    margin-right: 2rem;
  }
  
  .compressed {
    overflow: hidden;
    max-height: 400px;
  }
  
  .add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  