@use '../../styles/colors.scss';

.card{
    margin:37px;
}

.cardEl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    height: 183px;
    background-color: colors.$text_secondary;
}