@use "../../styles/colors";

.wrapper {
  border-radius: 15px;
  background: linear-gradient(284.07deg, #ec6953 0%, #df53a8 100%) !important;
  width: 650px;
  height: 389px;
}


.progressOne,
.progressTwo {
  margin-top: 40px;
}

.tempBtns {
  color: "white";
  position: absolute;
  top: 480px;
}

.currentTemp {
  font-size: 80px !important;
  font-style: normal;
  font-weight: 700;
  color: colors.$text_primary;
  text-align: center;
}

.therBtn{
    color: white !important;
}

.thermostat{
    position: relative !important;
    display: flex;
    top: 1px !important;
    left: 104px !important;
}

.chart{
    display: flex;
    justify-content: center;
    padding: 80px 0 0 0;
}